#title {
  background-color: #62a334;
  color: white;
  z-index: 1;
}
body {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 3% 15% 7%;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h1 {
  font-family: "Montserrat";
  font-size: 4rem;
  line-height: 1.5;
}
/* Navigation Bar */

.navbar {
  padding-bottom: 2rem;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
  position: relative;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title img */
.titleimg {
  height: 700px;
  width: 400px;
  transform: rotate(25deg);
  position: absolute;
  right: 500px;
}
/* Features */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}
.features-icons {
  color: #236409;
  margin-bottom: 1rem;
}
.features-icons:hover {
  color: #93da6a;
}

/* Testimonial section */

#testimonials {
  text-align: center;
  background-color: #62a334;
  color: white;
}
.testimonial-image-garfild {
  margin: 30px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.testimonial-image-mirjana {
  margin: 30px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#press {
  background-color: #62a334;
  text-align: center;
  padding-bottom: 3%;
}
.presslogo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1200px) {
  #title {
    text-align: center;
  }

  .titleimg {
    margin: 20px 30px;
    position: static;
    transform: rotate(0);
  }
}
